body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  color: 000;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px; /*ширина контейнера кожного блоку*/
  margin: auto; /*позиціонування контейнера по центру*/
}

.header {
  background: url("../img/header-bg.jpg") no-repeat center top / cover;
}

.header a {
  color: #fff;
}

.menu {
  display: flex;
}

.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.menu li {
  margin-right: 40px;
}

.tel {
  text-decoration: none;
  font-size: 17px;
  margin-left: auto; /*Прижимаємо елемент до правого краю контейнера*/
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 69px;
}

.header {
  padding-top: 57px;
  height: 900px;
}

.offer {
  border: 1px solid #fff;
  width: 511px;
  height: 257px;
  color: #fff;
  margin-bottom: 322px;
  margin-top: 216px;
}

.btn {
  border: 1px solid #fff;
  font-size: 17px;
  letter-spacing: 0.1em;
  text-decoration: none;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 23px;
  padding-right: 23.52px;
  margin-bottom: 0px;
}

.offer p {
  margin: 0;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.offer h1 {
  height: 137px;
  font-size: 100px;
}
